.navBar {
  background-color: $colorSecondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.15rem 0.1rem 1.15rem 0.1rem;
  .titlePage {
    .linkHome {
      text-decoration: none;
      color: $fontColorSecondary;
    }
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0rem 0rem 0rem 0.75rem;
    @include mobileHorizontalAndTabletVertical {
      font-size: 2.75rem;
    }
    @include tabletHorixzontalAndDesk {
      font-size: 3rem;
      .linkHome:hover {
        font-size: 3.01rem;
        color: $fontColorPrimary;
      }
    }
  }
  ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.35rem;
    @include mobileHorizontalAndTabletVertical {
      font-size: 2.5rem;
    }
    @include tabletHorixzontalAndDesk {
      font-size: 2.5rem;
    }
    li {
      cursor: pointer;
      list-style: none;
      .linkSkills {
        text-decoration: none;
        color: $fontColorSecondary;
      }
      @include tabletHorixzontalAndDesk {
        .linkSkills:hover {
          font-size: 2.54rem;
          color: $fontColorPrimary;
        }
      }

      .logoAdminConnect {
        width: 2rem;
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        @include mobileHorizontalAndTabletVertical {
          width: 4.25rem;
        }
        @include tabletHorixzontalAndDesk {
          width: 3rem;
          filter: brightness(1.1);
        }
      }
      .logoAdminConnect:hover {
        scale: 1.2;
        filter: contrast(5);
      }
      .linkKnow {
        @extend .linkSkills;
      }

      .linkKnow:hover {
        color: $fontColorPrimary;
      }
    }
  }
}
