$font: "Noto Sans", sans-serif;
$fontSizeMobile: 1.25rem;
$fontSizeTablet: 1.7rem;
$fontSizeDesktop: 1.45rem;
$fontSizeMobileSideBar: 12px; //0.85rem;
$fontSizeTabletSideBar: 20px; //1.6rem;
$fontSizeDesktopSideBar: 16px; //1rem;;
